html,
body,{
    width: 100%;
    height: 120vh;
    margin: 0;
    padding: 0;
}
.jumbotron{
    width: 955px;
    height: 575px;
    border: 2px solid black;
    padding:0;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.title{
    display: flex;
    width:380px;
    height: 40px;
    border:2px solid black;
    justify-content: center;
    align-items: center;
    margin: 38px 0;
}
.container{
    width: 200px;
    height: 160px;
    border:2px solid black;
}
.jumbotron >.flex-card>.container>.subtitle{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}
.rectangle{
    display: flex;
    width: 98%;
    height: 77%;
    border:2px solid white;
    padding: 0;
    margin: 0;
}
.col-1{    
    display: flex;
    width:55%;
    height: 80%;    
    border:2px solid black;
    margin: 10px 10px;
    justify-content:center;
    align-items: center;
}
.circle{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border:2px solid black;
    justify-content: center;
    align-items: center;
}
.col-2{
    display: flex;
    width:70%;
    height: 96%;    
    border:2px solid white;
    margin: 10px 12px;
    justify-content:flex-start;    
    margin: 0;
}
.book-now{
    width: 80px;
    height: 20px;
    position: absolute;
    border:2px solid black;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 15px 10px;
}
.flex-card{
    display:flex;
    flex-direction:row;   
    flex-wrap: wrap;       
}
.flex-y{
    margin:15px 15px
}




