html,
body{
    margin: 0;
    padding: 0;
    background-color: pink;
}
#countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
}